@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

.portfo_container {
  margin-top: 30vh;
  text-align: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.315);
  padding: 50vh 0;
}

.imgSlider {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 3vh;
}
.imgSlider i {
  padding: 4vh;
  font-size: 8vh;
  cursor: pointer;
}
.imgSlider div {
  position: absolute;
  display: flex;
}
.imgSlider a {
  position: relative;
  height: 1vh;
  font-size: 3vh;
  color: #f5f6fa;
}
.portfo_img {
  position: relative;
  width: 35%;
  height: auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.315);
  transition: 0.3s ease;
}
.portfo_img:hover {
  opacity: 0.3;
  cursor: pointer;
}
.imgSlider a:hover {
  text-shadow: 0px 0px 20px #74b9ff;
}

.fontColor_Orange {
  color: #f1c40f;
}

.index_display button {
  background: transparent;
  font-size: 4vh;
  border: none;
  padding: 8px;
  transition: 0.7s;
  outline: none;
}
.current_portfolio {
  color: #576CBC;
  opacity: 100%;
}
