@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&family=Imbue:wght@300;400&display=swap");
::-webkit-scrollbar
{
	width: 12px;
	background-color: #1e1e259a;
  height: 5%;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(59, 59, 59);
}
html{
  scroll-behavior: smooth;
}
:root {
  position: relative;
  background-image: linear-gradient(#0b0e12, #202529);
  font-size: 1.8vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.App {
  background-image: linear-gradient(#0b0e12, #202529);
  width: 1200px;
  margin: auto;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.671); */

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    background-color: black;
  }
  100% {
    opacity: 1;
  }
}
.main-container{
  margin: auto;
  margin-top: 5vh;
  width: 1200px;
  height: 100vh;
}
.main-container h2 {
  padding-top: 5vh;
  font-family: "Raleway", sans-serif;
  font-size: 3vh;
}
.profile{
  width: 80%;
  margin: auto;
  color: #f1f3f5;
}
.profile_background{
  width: 100%;
  height: 150px;
  background: linear-gradient(2000deg, #4a5daa 40%, #4848486f 100%);
  border-radius: 4px;
}
.profile_pic{
  position: relative;
  top: -80px;
  max-width: 160px;
  height: auto;
  border-radius: 50%;
}
.profile_desc{
  display: flex;
  flex-direction: column;
  margin-top:-5vh;
}
.profile_desc span{
  padding: .6vh;
}
.icon{
  margin-top: 3vh;
}
.icon span{
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  margin-right: 1vh;
}
.post{
  position: relative;
  width: 800px;
  color: #f1f3f5;
  top: 20vh;
  margin:auto;

}
.welcome_post{
  display: flex;
  flex-direction: row;
}
.welcome_post div{
  margin-right: 2vh;

}
.post_info{
  margin: auto;
  position: relative;
  width: 600px;
  top: -5vh;
}
.post_info h3{
  line-height: 1.4;
}

.Short_desc p {
  font-size: 5.5vh;
  font-family: "Pacifico", cursive;
  font-weight: 100;
}
.Short_desc h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 18vh;
}
.about_container {
  display: flex;
  flex-direction: row;
  margin-top: 120vh;
}
.paragraph_container {
  margin: auto;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 1.8vh;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 250%;
  width: 80vh;
}
.paragraph{
  margin: 20vh 0vh;
}
.paragraph_container h1{
  color: #ffffff9d;
}
.skills {
  margin-top: 10vh;
  width: 1200px;
  margin-left: -20vh;
}
.skills img {
  margin: 3vh 5vh;
  width: 7%;
  height: auto;
}

.container {
  width: 70%;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.192); */
}
.row {
  margin-bottom: 5vh;
}
.input-field > label {
  top: -4vh;
}
.email_container input,
textarea {
  color: rgb(218, 218, 218);
}
textarea.materialize-textarea,
input[type="text"]:not(.browser-default) {
  font-size: 2.5vh;
  color: rgb(218, 218, 218);
}
.contacts_info {
  margin: 20vh 0;
  margin-top: 50vh;
  padding-top: 15vh;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.315);
}
.contacts_logo {
  display: flex;
  width: 80vh;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  font-size: 3vh;
  margin-top: 5vh;
  padding-bottom: 15vh;
}
.contacts_info img {
  width: auto;
  height: 3.5vh;
  border-radius: 30px;
}
.contacts_info a {
  width: 2vh;
  height: auto;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
  color: rgb(218, 218, 218);
  font-size: 2.3vh;
}
.contacts_info a:nth-child(4) {
  width: 17vh;
}
.Footer{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  color: rgba(255, 255, 255, 0.42);
  text-align: center;
  background-color: #262626;
  padding: .2vh;
  font-size: 1.5vh;
}